* {
    box-sizing: border-box;
}
body {
    font-family: 'monserrat', sans-serif;
    margin: 0;
}
/*-------------------------Estilos base--------------------*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
} 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
}
.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}
.main-header {
    width: 100%;
}
.logo {
    font-size: 1.8em;
    color: #ff6347;
    padding: 10px;
    font-family: 'pacifico', cursive;
    font-weight: 100;
}
.main-header__contactInfo__phone {
    background: #ff6347;
    color: #fff;
    margin: auto;
    padding: 10px;
}
.main-header__contactInfo__address {
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]::before {
    position: relative;
    top: 2px;
    right: 5px;
}
.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.social-icon {
    display: flex;
    justify-content: space-between;
}.social-icon [class*="icon-"] {
    color: #000;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 1s linear;
}
.menu__link {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.menu__link:hover {
    background: #ff6347;
}
.menu__link--select {
    background: #ff6347;
}
.mostrar {
    height:210px;
}
.banner {
    margin-top: -55px;
    position: relative;
}
.banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    top: 0;
}
.banner__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner__content {
    width: 90%;
    color: #fff;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.group--color .container {
    background: #ff6347;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.column__title {
    font-size: 1.3em;
}
.main__about__description .colum:nth-child(2) {
    padding: 10px;
}
.btn {
    display: block;
    width: 120px;
    background: #ff6347;
    color: #000;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
.group__title {
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    font-weight: 100;
    margin: 30px;
    text-align: center;
}
.today-special .column {
    margin-bottom: 30px;
}
.today-special img {
    margin: auto;
    max-width: 350px;
}
.today-special__title {
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.today-special__price {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6347;
    text-align: center;
}
.main-footer {
    background: #222;
    color: #fff;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.main-footer [class*="icon-"] {
    color: #fff;
    text-decoration: none;
}
.main-footer [class*="icon-"]::before {
    position: relative;
    top: 0;
    right: 5px;
}
.copy {
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
@media (min-width: 480px) {
    .logo {
        color: #fff;
    }
    .main-header__contactInfo {
        text-align: right;
    }
    .banner {
        margin-top: -200px;
        z-index: -1000;
    }
    .banner__content {
        font-size: 2em;
    }
    .column--50 {
        width: 49%;
    }
    .column--50-25 {
        width: 49%;
    }
    .column--33 {
        width: 32%;
    }
    .main__about__description .colum:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }
    .main__about__description .btn {
        margin: 0;
    }
    .main-header__contactInfo__phone {
        background: none;
    }
    .main-header__contactInfo__address {
        color: #fff;
    }
    .main-nav {
        background: rgba(0,0,0,.8);
    }
    .today-special .column {
        border: 5px solid #ddd;
        padding: 5px;
    }
    .today-special img {
        height: 200px;
        object-fit: cover;
    }
}
@media (min-width: 768px) {
    .main__title {
        font-size: 2.2em;
    }
    .main__about__description {
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2) {
        font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 30px;
    }
    .column--50-25 {
        width: 24.5%;
    }
    .column__title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 1000px;
    }
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contactInfo__address {
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav {
        padding: 0;
    }
    .banner__content {
        font-size: 2.5em;
    }
    .icon-menu {
        display: none;
    }
    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link {
        padding: 20px;
    }
    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title {
        font-size: 2.5em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 50px;
    }
    .today-special__title {
        font-size: 1.4em;
    }
    .today-special__price {
        font-size: 1.8em;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30pxs;
    }
}





